<div class="details-container">

  <div class="nav-link">
    <a [routerLink]="'/'">&laquo; Back</a>
  </div>

  <ng-container *ngIf="person; else noPersonAlert">
    <div class="person">
      <h2>{{ person.firstName }} {{ person.lastName }}</h2>

      <dl class="info">
        <dt>ID</dt>
        <dd>{{ personId }}</dd>

        <dt>Age:</dt>
        <dd>{{ person.age }}</dd>
      </dl>

      <ng-container *ngIf="person.address">
        <dl class="address">
          <dt>City:</dt>
          <dd>{{ person.address.city }}</dd>

          <dt>Street</dt>
          <dd>{{ person.address.street }}</dd>

          <dt>Postcode</dt>
          <dd>{{ person.address.postCode }}</dd>
        </dl>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noPersonAlert>
    <div class="alert">
      Person not found!
    </div>
  </ng-template>

</div>
